
.button {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    background-color: currentColor;
    transition: height 1s cubic-bezier(0.65, 0.05, 0.41, 0.56), opacity 1s cubic-bezier(0.65, 0.05, 0.41, 0.56);
  }

  &:only-child {
    margin: 0 auto;
  }

  &:hover:before,
  &:focus:before {
    height: 2px;
    opacity: 1;
  }

  &._box {
    background-color: #8A33FD;

    &::before {
      display: none;
    }
  }

  &._box-underline {
    border: 1px solid #8A33FD;
    color: #8A33FD;

    &::before {
      display: none;
    }
  }

}