.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 560px;
	width: 100%;
	padding: 56px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 4px 4px 0	 rgba(0, 0, 0, 0.25);

	.modal-header {
		margin-bottom: 42px;

		h2 {
			font-family: "Inter", sans-serif;
			font-size: 36px;
		}

		p {
			color: #7F7F7F;
			text-align: center;
			font-weight: 500;
		}
	}

	.modal-content {
	}

	.modal-footer {
		margin-top: 24px;
	}

	.button-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
}